<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <form action="printData" method="post">
      {% csrf_token %}
      <br>
      Full Name : <input type="text" name="fname" pattern="[A-Z]{1}[a-z]+\ [A-Z]{1}[a-z]+\" required>
      <br>
      Date of Birth : <input type="date" name="dob" required>
      <br>
      Address : <input type="text" name="addr1" required>
      <br>
      Mob No. : <input type="text" name="mobNo" required>
      <br>
      Email Id : <input type="email" name="mail" required>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div>
    <table border="2">
      <tr>
        <th>First Name</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Mob No.</th>
        <th>Email-Id</th>
      </tr>
      
      {% for s in printData %}

      <tr>
        <td>{{s.name}}</td>
        <td>{{s.dob}}</td>
        <td>{{s.addr1}}</td>
        <td>{{s.mobNo}}</td>
        <td>{{s.mail}}</td>
      </tr>
      {% endfor %}

    </table>

  </div>
</body>

</html>